<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dayo's Personal Site</title>
</head>
<body>
    <table cellspacing="20px">
        <tr>
            <td>
                <img src="static/david.png" alt="Dayo's Headshot">
            </td>
            <td>
                 <h1>Dayo Adeleke</h1>
                <p>Founder of <strong><a href="http://kdtech.com">KD Tech.</a></strong></p>
                <p>I am a python developer. I ❤️ music.</p>
            </td>
        </tr>
    </table>

    <hr>
    <h3>Books and Teaching</h3>
    <ul>
        <li>Nothing here, check next.</li>
        <li>Lmao, nothing here either.</li>
        <li>So there isn't any book that I done really, guess you caught on to that.</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table>
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>2008 - 2013</td>
            <td>Primary School Student</td>
        </tr>
        <tr>
            <td>2013 - 2019</td>
            <td>Secondary School Student</td>
        </tr>
        <tr>
            <td>2019 - 2026</td>
            <td>College Student</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10px">
        <tr>
           <td>
               <table>
                    <tr>
                        <td>IT Support</td>
                        <td>⭐⭐⭐⭐⭐</td>
                    </tr>
                   <tr>
                       <td>Web Develpment</td>
                       <td>⭐⭐</td>
                   </tr>
               </table>
           </td>
            <td>
                <table>
                    <tr>
                        <td>Systems Administration</td>
                        <td>⭐⭐</td>
                    </tr>
                    <tr>
                        <td>Music</td>
                        <td>⭐⭐⭐</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr>
    <h3><a href="hobbies.html">My hobbies</a></h3>
    <h3><a href="contact.html">Contact Me</a></h3>

</body>
</html>
