body {
    background-color: #E3FDFD;
}

hr {
    height: 0px;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
}

img {

}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}